@model WebApplication3.Models.CompayAddressViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form method="post" action="/Companies/Create">
            <div class="form-horizontal">
                <h4>Create Company</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    <label for="CompanyName">Company Name:</label>
                    <input type="text" id="CompanyName" name="CompanyName" value="@Model.CompanyName" />
                    @Html.ValidationMessageFor(model => model.CompanyName, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <label for="Street">Street:</label>
                    <input type="text" id="Street" name="Street" value="@Model.Street" />
                    @Html.ValidationMessageFor(model => model.Street, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <label for="City">City:</label>
                    <input type="text" id="City" name="City" value="@Model.City" />
                    @Html.ValidationMessageFor(model => model.City, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    }
</body>
</html>
