@model WebApplication3.Models.ContactAddressViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <form method="post" action="/Contacts/Create">
            <div class="form-horizontal">
                <h4>Create Contact</h4>
                <hr />
                <div class="form-group">
                    <label for="ContactName">Contact Name:</label>
                    <input type="text" id="ContactName" name="ContactName" value="@Model.ContactName" />
                    @Html.ValidationMessageFor(model => model.ContactName, "", new { style = "color: red;" })
                </div>
                <div class="form-group">
                    <label for="Email">Email:</label>
                    <input type="text" id="Email" name="Email" value="@Model.Email" />
                    @Html.ValidationMessageFor(model => model.Email, "", new { style = "color: red;" })
                </div>
                <div class="form-group">
                    <label for="Title">Title:</label>
                    <input type="text" id="Title" name="Title" value="@Model.Title" />
                    @Html.ValidationMessageFor(model => model.Title, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <label for="Street">Street:</label>
                    <input type="text" id="Street" name="Street" value="@Model.Street" />
                    @Html.ValidationMessageFor(model => model.Street, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <label for="City">City:</label>
                    <input type="text" id="City" name="City" value="@Model.City" />
                    @Html.ValidationMessageFor(model => model.City, "", new { style = "color: red;" })
                </div>

                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>
    }
</body>
</html>

