<main>
    <section class="row" aria-labelledby="companyTitle">
        <h2 id="companyTitle">Company Data</h2>
        <p>
            <a href="@Url.Action("Index", "Companies")" class="btn btn-primary">View Companies Data</a>
            <a href="@Url.Action("Create", "Companies")" class="btn btn-primary">Add Company</a>
        </p>
    </section>

    <section class="row" aria-labelledby="addressTitle">
        <h2 id="addressTitle">Manage Address </h2>
        <p>
            <a href="@Url.Action("Index", "Addresses")" class="btn btn-primary">View Addresses </a>
            <a href="@Url.Action("Create", "Addresses")" class="btn btn-primary">Add Address</a>
        </p>
    </section>

    <section class="row" aria-labelledby="contactTitle">
        <h2 id="contactTitle">Contact Data</h2>
        <p>
            <a href="@Url.Action("Index", "Contacts")" class="btn btn-primary">View Contacts Data</a>
            <a href="@Url.Action("Create", "Contacts")" class="btn btn-primary">Add Contact</a>
        </p>
    </section>
</main>